<%- include('hub/top'); -%>

<!-- Navbar -->
<%- include('hub/nav'); -%>


<!-- left side bar component  -->
<%- include('hub/sidebar'); -%>

        
           <br>
                  
            <table class="table table-hover table-dark" id="dataTable">
                <thead>
                <tr>
                    <th scope="col">Officer Id</th>
                    <th scope="col">Author</th>
                    <th scope="col">Email</th>
                    <th scope="col">Contact</th>
                    <th scope="col">Message</th>
                </tr>
                </thead>
                <tbody>
                <% comments.forEach(comment => { %> 
                        <% if (comment.value.type == 'Complain') { %>
                            <tr>
                                <th scope="row"><%= comment.value.officerId %></th>
                                <td><%= comment.value.fullName %></td>
                                <td><%= comment.value.email %></td>
                                <td><%= comment.value.number %></td>
                                <td><%= comment.value.county %></td>
                                <td><%= comment.value.content %></td>
                                <td><a href="/admin/details/<%= comment.key %>"><i class="fas fa-search"></i></a></td>
                                <td><a href="/admin/map/<%= comment.key %>"><i class="fas fa-map"></i></a></td>
                            </tr>
                        <% } %>

                <% }); %>
                </tbody>
            </table>

<!-- Bottom component -->
<%- include('hub/bottom'); -%>