<%- include('hub/top'); -%>

<!-- Navbar -->
<%- include('hub/nav'); -%>


<!-- left side bar component  -->
<%- include('hub/sidebar'); -%>

        
           <br>
           <table class="table table-hover table-dark desplay" id="example">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">FullName</th>
                    <th scope="col">Position</th>
                    <th scope="col">Email</th>
                    <th scope="col">Image</th>
                    <th scope="col">Status</th>
                </tr>
                </thead>
                <tbody>
                <% officers.forEach(officer => { %> 
                    <tr>
                        <th scope="row"><%= officer.id %></th>
                        <td><%= officer.firstName %> <%= officer.lastName %></td>
                        <td><%= officer.position %></td>
                        <td><%= officer.email %></td>
                        <td><img src="/images/officers/<%= officer.image %>" alt="" style="width: 50px"></td>
                        <td><%= officer.status %></td>
                        <td><a href="/admin/editOfficer/<%= officer._id %>"><i class="fas fa-edit"></i></a></td>
                    </tr>
                <% }); %>
                </tbody>
            </table>
        </div>

    
<!-- Bottom component -->
<%- include('hub/bottom'); -%>