<%- include('hub/top'); -%>

<!-- Navbar -->
<%- include('hub/nav'); -%>


<!-- left side bar component  -->
<%- include('hub/sidebar'); -%>

        
           <br>
                  
                            <table class="table table-hover table-dark" id="example">
                                <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">First</th>
                                    <th scope="col">Last</th>
                                    <th scope="col">Handle</th>
                                </tr>
                                </thead>
                                <tbody>
                                <% officers.forEach(officer => { %> 
                                    <tr>
                                        <th scope="row"><%= officer.value.id %></th>
                                        <td><%= officer.value.firstName %> <%= officer.value.lastName %></td>
                                        <td><%= officer.value.position %></td>
                                        <td><%= officer.value.email %></td>
                                        <td><%= officer.value.gender %></td>
                                        <td><%= officer.value.status %></td>
                                        <td><a href="/admin/editOfficer/<%= officer.key %>"><i class="fas fa-edit"></i></a></td>
                                    </tr>
                                    
                                <% }); %>
                                </tbody>
                            </table>
                
                <!-- </div> -->
            <!-- </div> -->
        </div>

    
<!-- Bottom component -->
<%- include('hub/bottom'); -%>